@charset "utf-8";

/* textillate */

.txt_anime {
  text-align: center;
  font-size: 3rem;
  margin: 5em 0 0;
}


/* lightbox */

.lightbox_wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 100px auto;
}

.lb_item {
  width: 30%;
}

/* vegas */

.vegas-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vegas h1 {
  font-size: 8vw;
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px 6px #000;
}

/* slick調整 */
.slick {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.slick-next {
  right: 10px;
  z-index: 99;
}

.slick-prev {
  left: 10px;
  z-index: 99;
}

.slick-dots>li:only-child {
  display: none;
  /* スライドが１つの時はドット非表示 */
}

/* doropdown */
.dropdwn {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.dropdwn__btn {
  width: 50%;
  background: #1d7299;
  line-height: 50px;
  margin: 20px;
  color: #fff;
}

.dropdwn__btn:hover {
  cursor: pointer;
}

.dropdwnMenu {
  display: none;
}

.dropdwnMenu__list {
  line-height: 40px;
  border: 2px solid #1d7299;
  border-top: none;
  background: #fff;
  color: #000;
}

/* pageTop */
.box01 {
  width: 800px;
  height: 3000px;
  margin: 0 auto;
  background: #ccc;
}

.pageTop {
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 20px;
}

/* fadeinout */
.fadeImg {
  position: relative;
  width: 800px;
  height: 533px;
  margin: 50px auto;
}

.fadeImg img:nth-child(n + 2) {
  position: absolute;
  top: 0;
  left: 0;
}

.fadeImg__item:nth-child(n + 2) {
  position: absolute;
  top: 0;
  left: 0;
}

.fadeImg__item .caption {
  display: block;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 20px 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}